.header {
  font-size: 16px;
  // .header__menu
  &__menu {
    font-size: 24px;
  }

  // .header__sidebar
  &__sidebar {
    font-size: 36px;
  }
}

/*=================Section=================*/
.section {
  position: absolute;
  top: 0;
  left: 250px;
  height: 100vh;
  width: calc(100% - 250px);
  background-color: var(--body-color);
  transition: var(--tran-05);
  padding: 8px 15px;

  &__text {
    font-size: 22px;
    font-weight: 500;
    color: var(--text-color);
    padding: 2px 20px;
  }
}

/*=================Open/Close=================*/
.sidebar.close {
  & ~.section {
    left: 90px;
    height: 100vh;
    width: calc(100% - 90px);
  }
}

/*=================Dark theme=================*/


main.dark {
  & .menu {
    &__item:hover {
      & .icon, .text {
        color: var(--text-color);
      }
    }
  }

  & .mode {
    &__switch::before {
      left: 20px;
    }

    & .section .text {
      color: var(--text-color);
    }

    & .moon {
      opacity: 1;
    }

    & .sun {
      opacity: 0;
    }
  }

  & .content-text {
    color: var(--text-color);
  }

  & .dialogs__item-link {
    color: var(--text-color);
  }
}

/*=================Elements=================*/
.content-text {
  color: var(--text-color);
  font-size: 14px;
  font-weight: 500;
}