.header {
  font-size: 16px;
  // .header__menu
  &__menu {
    font-size: 24px;
  }
  // .header__sidebar
  &__sidebar {
    font-size: 36px;
  }
}

//Dark theme
main.dark {
  & .menu {
    &__item:hover {
      & .icon, .text {
        color: var(--text-color);
      }
    }
  }

  & .mode {
    &__switch::before {
      left: 20px;
    }

    & .mainPage .text {
      color: var(--text-color);
    }

    & .moon {
      opacity: 1;
    }

    & .sun {
      opacity: 0;
    }
  }

}