//==============Dialogs==============
.dialogs {
  &__title {
  }

  &__wrapper {
    display: flex;
    padding: 10px 15px;
  }

  &__items {
    flex: 0 1 10%;
    margin: 0 10px 0 0;
  }

  &__item {
    transition: var(--tran-03);
    margin: 0 0 5px 0;

    &:hover {
      background: var(--primary-color);
      border-radius: 6px;
      color: var(--sidebar-color);
      transition: var(--tran-05);
    }
  }

  &__item-link {
    list-style: none;
    height: 100%;
    background-color: transparent;
    display: flex;
    align-items: center;
    width: 100%;
    border-radius: 6px;
    text-decoration: none;
    transition: var(--tran-03);
    padding: 5px 10px;
    color: var(--text-color);
    &:hover {
      color: var(--sidebar-color);
    }
  }

  &__messages {
  }

  &__message {
    padding: 5px 8px;
  }
  &__form{
    margin: 5px 10px;
    display: flex;
    flex-direction: column;
    align-items: start;
  }
  &__area{
    margin: 0 0 10px 0;
    resize: none;
    width: 200px;
    min-height: 60px;
    padding: 5px 7px;
    font-size: 12px;

  }
  &__btn{
    padding: 5px 10px;
    border-radius: 6px;
    outline: none;
    border: 1px solid #ccc;
    cursor: pointer;
    &:hover{
      background-color: #ccc;
    }
  }
}

.active-link {
  color: var(--sidebar-color);
  background: var(--primary-color);
}

